<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <table width="200" border="1">
    <tr>
        <td><a href="/add_caretaker_view"> Add Caretaker </a></td>
    </tr>
    <tr>
        <td><a href="/view_caretaker" >View Caretaker</a></td>
    </tr>
    <tr>
        <td><a href="/view_user" >View Users</a></td>
    </tr>
    <tr>
        <td><a href="/need_donation_view" >Needs Donation </a> </td>
    </tr>
    <tr>
        <td><a href="/view_donation" >View Donation</a></td>
    </tr>
      <tr>
        <td><a href="/view_donation_history" >View Donation History</a></td>
    </tr>
    <tr>
        <td><a href="/view_suggestion" >View Suggestions</a></td>
    </tr>
    <tr>
        <td><a href="/add_photos_view" >Add Program Photos</a></td>
    </tr>
    <tr>
        <td><a href="/view_photos" >View Program Photos</a></td>
    </tr>
    <tr>
      <td><a href="/add_sponsorship_view"> Add sponsorship</a></td>
    </tr>
    <tr>
      <td>&nbsp;<a href="/view_sponsorship">View sponsorship</a> </td>
    </tr>
    <tr>
      <td>&nbsp;<a href="/view_sponsorship_request">View sponsorship request</a> </td>
    </tr>
    <tr>
      <td><a href="/view_medicine_request">View medicine request</a> </td>
    </tr>
    <tr>
      <td>&nbsp;<a href="/view_request_for_caretaker">View request for caretaker</a> </td>
    </tr>
      <tr>
      <td>&nbsp;<a href="/view_request_for_volunteer">View volunteer request</a> </td>
    </tr>
      <tr>
      <td>&nbsp;<a href="/view_requested_user_reports">view requested useres and reports</a> </td>
    </tr>
  </table>
</form>

</body>
</html>