<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="200" border="1">
    <tr>
        <td><a href="/patients_view"> View Patients </a></td>
    </tr>
{#    <tr>#}
{#        <td><a href="/add_daily_report_view" >Add daily report</a></td>#}
{#    </tr>#}
    <tr>
        <td><a href="/view_daily_report" >View daily report</a></td>
    </tr>
    <tr>
        <td><a href="/send_medicine_request_view" >medicine request </a> </td>
    </tr>
    <tr>
        <td><a href="/view_medicine_status" >View medicine status</a></td>
    </tr>
      <tr>
        <td><a href="/add_suggestion_view" >add suggestion</a></td>
    </tr>
    <tr>
        <td><a href="/view_suggestion" >View Suggestions</a></td>
    </tr>
    <tr>
        <td><a href="/view_reminder" >View Reminder </a></td>
    </tr>
</table>
</body>
</html>