{% extends "CARETAKER/caretaker_index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <style>
     th {background-color: dodgerblue;text-align: center}
     table {box-shadow:wheat }
 </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" class="table table-hover ">
    <tr>
      <th scope="col">SL</th>
      <th scope="col">DATE</th>
      <th scope="col">STATUS</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">MEDICINE</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
     <td>{{ i.statuss }}</td>
      <td>{{ i.quantity }}</td>
      <td>{{ i.medicine }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}